.THIS #sortable1{
    border: 1px solid #eee;
    width: 100%;
    min-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  .THIS #sortable2 {
    border: 1px solid #eee;
    width: 100%;
    min-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  .THIS span{
	margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
   }
  .THIS .highlight {
    border: 2px solid red;
    background-color: lightblue;
	}