<apex:page controller="ContinuationSOAPControlleriFrame" showHeader="false">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"/>

<apex:form >
<apex:commandButton value="Execute" action="{!startRequest}" reRender="result"/>
</apex:form>
<apex:outputText id="result" value="{!result}" />
</apex:page>